.Alert {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px 30px;
    border-radius: 5px;
}
.primary {
    background: #0d6efd;
}
.success {
    background: #198754;
}
.danger {
    background: #dc3545;
}
.warning {
    background: #ffc107;
}
.btn {
    background: transparent;
    border: none;
    cursor: pointer;
    float: left;
}
